/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.col-1-3 {
  width: 33.33%;

}

.col-2-3 {
  width: 66.66%;
}

.col-1-3, .col-2-3 {
  display: inline-block;
  vertical-align: top;
}

.grid,
.col-1-3,
.col-2-3 {
  padding-right: 15px;
  padding-left: 15px;
}

register-hero{
  margin-left: -1px;
}

.register-footer{
  margin-top: 318px;
  margin-left: -80px;
}

.text-wrapper-speakers{
  width: 1116px;
  /* background-color: #ffffffa8; */
}

.text-wrapper {
  color: #fff;
  font-weight: 300;
}

.grid {
  background: url('../../conf1.jpg') no-repeat;
  background-size: cover;
  height: 702px;
  width: 1282px;
  margin-left: -2px;
}


.container {
  min-height: 100px;
  padding-left: 30px;
  padding-right: 30px;
}

.wrapper {
    width: 1320px;
    margin-left: 43px;
    padding-top: 32px;
    margin: -42px -13px;
    height: 329px;
    background-color: #fff;
}

.center {
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
}

/*
   ========================================
   Custom Styles
   ========================================
*/

body {
  color: #888;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 36px;
  line-height: 44px;
}

h2 {
  font-size: 24px;
  line-height: 44px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 18px;
}


h5 {
  color: #a9b2b9;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 29px;
}

/*
   ========================================
   Links
   ========================================
*/

a {
  color: #648880;
  text-decoration: none;
  color: #fff;
  padding-right: 15px;
}

p a {
  border-bottom: 1px solid #dfe2e5;
}

a:hover {
  color: #a9b2b9;
}
